
    .actions {
        position: absolute;
        z-index: 9;
        transition: 0.5s;
        top: 15px;
        right: 15px;
        &__list{
          margin-bottom: 1rem;
          &:last-child{
            margin-bottom: 0;
          }
        }
        &__btn {
          width: 3rem;
          height: 3rem;
          line-height: 3rem;
          color: var(--primary-color);
          background: var(--bg-offwhite-color);
          border-radius: 50%;
          text-align: center;
          transition: 0.5s;
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.18%);
          &:hover {
            background: var(--secondary-color);
            color: var(--text-white-color);
          }
          @media only screen and (min-width: 576px) {
            width: 3.2rem;
            height: 3.2rem;
            line-height: 3rem;
          }
          @media only screen and (min-width: 992px) {
              width: 3.4rem;
              height: 3.4rem;
              line-height: 3.5rem;
          }
          @media only screen and (min-width: 1200px) {
              width: 3.8rem;
              height: 3.8rem;
              line-height: 4rem;
          }
        }
      }